body{
    margin: 0%;
    padding: 5%;
    background: url('backgroundimg.png') no-repeat center center fixed;
    background-size:cover;
    backdrop-filter: blur(5px); /* Adjust the blur radius as needed */

}
.Calculator-app {
    font-family: 'Arial', 'Helvetica', sans-serif;
    width: 100%;
    max-width: 400px;
   
}
h1 {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

    }


#display{
    height: 60px;
    color: black;
    border-radius: 20px;
    font-size: 30px;
    font-style: bold;
    width: 340px;
    background-color: rgba(32, 201, 27, 0.825);
}
.Calculator {
    background: rgba(224, 231, 225, 0.985);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
   
    
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 10px;
    gap: 10px;
    margin-top: 15px;
}
button{
    font-size: 20px;
    border: none;
    transition: all 0.35 ease-in-out;
    padding: 10px 20px;
    border-radius: 60px;
    background-image: linear-gradient(135deg,#355a67 0%,#1c1c1c 100%);
    box-shadow: 2px 5px 5px #355a67;
    outline: none;
    cursor: pointer;
    color: greenyellow;
}
button:hover{
    transform: translateY(3px);
    box-shadow: none;
}

